# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Django
staticfiles/
db.sqlite3
db.sqlite3-journal
*.sqlite3

# MEDIA — ВАЖНО
# ❗ УБЕРИ ЭТУ СТРОКУ ЕСЛИ ХОЧЕШЬ ХРАНИТЬ КАРТИНКИ В GIT
# media/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log
